body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #226;
  text-decoration: none;
}

/* toms theme */

body {
  height: 100vh;
}


a:hover {
  color:lightblue;
}

header, footer {
  background-color: whitesmoke;
  padding: .5% 2rem;
}
header h1 {
  font-size:3rem;
}
h1, h2, h3, h4, h5 {
  border-bottom: 1px solid black;
}

#header-links {
  display: flex;
  font-size: larger;
  list-style-type: none;
  gap:4rem;
}
main {
  word-wrap: break-word;
  padding: 10px 1rem;
}

pre, code {
  white-space: pre;
  overflow-x: auto;
  word-break: normal;
}
