body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #226;
  text-decoration: none;
}

/* toms theme */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a:hover {
  color:lightblue;
}

header, footer {
  background-color: whitesmoke;
}
header h1 {
  font-size:3rem;
  border-bottom: 1px solid black;
  margin: 2rem 3rem;
}

#header-links {
  display: flex;
  font-size: 2em;
  justify-content: space-around;
  list-style-type: none;
}
main {
  word-wrap: break-word;
  margin: 1rem;
  flex:1;
}

pre, code {
  white-space: pre;
  overflow-x: auto;
  word-break: normal;
}

footer {
  padding: 1rem;
}