body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 2rem;
  max-width: 768px;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;

}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #226;
  text-decoration: none;
}
/* toms theme */

body {
  display: flex;
  flex-direction: column;
}

header {
  padding: 0 1rem;
}

#header-links {
  display: flex;
  justify-content:space-around;
  font-size: large;
}

main {
word-wrap: break-word;
}

footer {
  padding: 0 1rem;
}